#!/bin/bash

source {{ .chezmoi.homeDir }}/.profile

# Disable as nix-shell cause never-ending loop
# {{ .chezmoi.homeDir }}/.config/rcs/jump-tmux

export GPG_TTY=$(tty)

export PS1="(\[\033[1;32m\]\u@\h\[\033[1;34m\] \W\[\033[0m\])\$ "

export EDITOR=hx

# if [ -f "$(command -v hishtory)" ]; then
#   source <(hishtory completion bash)
# fi

if command -v fzf-share >/dev/null; then
  source "$(fzf-share)/key-bindings.bash"
  source "$(fzf-share)/completion.bash"
fi

if [ -f "{{ .chezmoi.homeDir }}/.nix-profile/google-cloud-sdk/path.bash.inc" ]; then
  source "{{ .chezmoi.homeDir }}/.nix-profile/google-cloud-sdk/path.bash.inc"
fi

if [ -f "{{ .chezmoi.homeDir }}/.nix-profile/share/asdf-vm/asdf.sh" ]; then
  . {{ .chezmoi.homeDir }}/.nix-profile/share/asdf-vm/asdf.sh
fi


source {{ .chezmoi.homeDir }}/.config/rcs/secretenv
source {{ .chezmoi.homeDir }}/.config/rcs/aliases

# installs atuin
eval "$(atuin init bash)"

# installs zoxide (z)
eval "$(zoxide init bash)"

{{ completion "bash" }}
