#!/usr/bin/env bash
source $HOME/.config/rcs/aliases

set -e

if [ "$(command -v brew)" ]; then
  echo "-- Brew update"
  brew update
  brew outdated --greedy
fi

{{ if eq .chezmoi.os "darwin" }}

if [ "$(command -v mas)" ]; then
  echo "-- Mac App Store"
  # MacOS App Store
  mas outdated
fi

if [ "$(command -v softwareupdate)" ]; then
  echo "-- Mac OS Updates"
  softwareupdate -l
fi

{{ end }}

# Checks Home Manager updates and updates the lock file
if [ "$(command -v home-manager)" ]; then
  echo "-- Home Manager build updates"
  nix flake update --flake ~/.config/home-manager
  home-manager build --flake ~/.config/home-manager#{{ .profile }}
fi

{{ if eq .chezmoi.os "linux" }}
  # All OS I am using could have Nix
  if [ -f "$(command -v nix-channel)" ]; then
    echo "-- Nix Channel updates"
    nix-channel --update
  fi

  {{ if eq .chezmoi.osRelease.id "ubuntu" }}
  echo "-- apt updates"
  sudo apt update
  sudo apt list --upgradable
  {{ end }}
{{ end }}
